<h2>Welcome to our Sign-up page!</h2> 
<%= form_for @admin, url: '/admin/signup' do |f| %>
    <% if @admin.errors.any? %>
    <div id="error_explanation">
      <h2>There were some errors:</h2>
      <ul>
        <% @admin.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

  
    Full Name: <%= f.text_field :name %>
    <br>
    <br>
  
   Email: <%= f.text_field :email %>
   <br>
   <br>
    
   Password: <%= f.password_field :password %>
    <br>
    <br>
   
    Password Confirmation: <%= f.password_field :password_confirmation %>
    <br>
    <br>

    <%= f.submit "Submit" %>
  <% end %>
