<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Web Template</title>
    <link rel="stylesheet" href="application.css">
</head>
<body>
   
<!--   HEADER  -->
  
  <header>
      <div class="head">
         <h2>Bellyful</h2> 
      </div>
<!--    NAVIGATION  -->
         <nav>
         <ul>
         <li><%= link_to 'Profile', user_profile_path(current_user), :class=> "active" %></li>
         <li><%= link_to 'Make a booking', new_user_booking_path(current_user) %></li>
         <li><%= link_to 'Logout', logout_path %></li>
         <li><%= link_to 'View all bookings', user_bookings_path(current_user) %></li>
       </ul>
       </nav>
       <!--    END OF NAVIGATION  -->
         </header>
       <!--  END OF HEADER  -->
       <h3>Welcome <%= current_user.name%> to your homepage!</h3>
       <!--SHOWCASE-->
       
           <showcase>
               <div class="container">
                   <h1>Food tastes better when you eat it with your family</h1>
                   <h3>Veg, Non-Veg and all kind of Snacks are available</h3>
                   <div>
                    <h3>Filter bookings:</h3>
                    <%= form_tag(user_bookings_path(current_user), method: "get") do %>
                        <%= select_tag "date", options_for_select(["Date"]), include_blank: true %>
                        <%= select_tag "table_num", options_for_select(["Table_Num"]), include_blank: true %>
                    <%= submit_tag "Filter" %>
                    <% end %>
                    </div>
                   <div class="category">
                       <div class="content">
                       <h3>The information of this cafe :</h3>
                       <table class="content-table">
                                   <thead>
                                       <tr>
                                       <th>User Name</th>
                                       <th>Booking Date</th>
                                       <th>Booking Time</th>
                                       <th>Booking Table Num</th>
                                       <th>Edit</th>
                                       <th>Delete</th>
                                       </tr>
                                   </thead>
                                   <% @bookings.each do |b|%>
                                   <tbody>
                                       <tr>
                                       <td><%= b.user.name%></td>
                                       <td><%=b.date%></td>
                                       <td><%=b.time%></td>
                                       <td><%=b.table_num%></td>
                                       <td><%= button_to('Edit', edit_user_booking_path(current_user, b), :method=>"get") %></td>
                                       <td><%= button_to('Delete', user_booking_path(current_user, b), :method=>"delete") %></td>
                                       </tr>
                                   </tbody>
                                   <% end %>
                               </table>
                             
                       </div>
                   </div>
               </div>
           </showcase> 
       <!--   END OF SHOWCASE  -->
       
       </body>
       </html>














