<%= form_for [@admin, @cafe] do |f| %>
    <% if @cafe.errors.any? %>
    <div id="error_explanation">
      <h2>There were some errors:</h2>
      <ul>
        <% @cafe.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <br>
    <%= f.hidden_field :admin_id %>
    <br>
    <br>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <br>
    <%= f.label :street %>
    <%= f.text_field :street %>
    <br>
    <br>
    <%= f.label :city %>
    <%= f.text_field :city %>
    <br>
    <br>
    <%= f.label :state %>
    <%= f.text_field :state %>
    <br>
    <br>
    <%= f.label :zipcode %>
    <%= f.text_field :zipcode %>
    <br>
    <br>
    <%= f.fields_for :foods, @cafe.foods.build do |foods_fields| %>
      <%= foods_fields.label :name %>
      <%= foods_fields.text_field :name %>
      <br>
      <%= foods_fields.label :category %>
      <%= foods_fields.text_field :category %>
      <br>
      <%= foods_fields.label :price %>
      <%= foods_fields.text_field :price %>
      <br>
      <%= foods_fields.label :fat %>
      <%= foods_fields.text_field :fat %>
      <br>
      <%= foods_fields.label :calories %>
      <%= foods_fields.text_field :calories %>
    <% end %>


    <%= f.submit %>
  <% end %>
  