<h2>The information of this cafe :</h2>
Cafe Name :<%= @cafe.name%>
<br>
<br>
Street :<%= @cafe.street%>
<br>
<br>
City :<%= @cafe.city%>
<br>
<br>
State :<%= @cafe.state%>
<br>
<br>
Zipcode :<%= @cafe.zipcode%>