<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Web Template</title>
    <link rel="stylesheet" href="application.css">
</head>
<body>
   
<!--   HEADER  -->
  
  <header>
      <div class="head">
         <h2>Bellyful</h2> 
      </div>
<!--    NAVIGATION  -->
         <nav>
             <ul>
                <li><%= link_to 'Profile', admin_profile_path(@admin), :class=> "active" %></li>
                <li><%= link_to 'Add a Cafe', new_admin_cafe_path(@admin) %></li>
                <li><%= link_to 'Logout', logout_path %></li>
                <li><%= link_to 'View all cafes', admin_cafes_path(@admin)%></li>
                <li><%= link_to 'Add new food', new_admin_food_path(@admin)%></li>
                <li><%= link_to 'View all foods', admin_foods_path(@admin)%></li>
             </ul>
         </nav>
<!--    END OF NAVIGATION  -->
  </header>
<!--  END OF HEADER  -->
<h3>Welcome <%= @admin.name%> to your homepage!</h3>
<!--SHOWCASE-->

    <showcase>
        <div class="container">
            <h1>Food tastes better when you eat it with your family</h1>
            <h3>Veg, Non-Veg and all kind of Snacks are available</h3>
            <div class="category">
                <div class="content">
                <h2>The information of this cafe :</h2>
                <table class="content-table">
                            <thead>
                                <tr>
                                <th>Cafe Name</th>
                                <th>Food Name</th>
                                <th>Food Price</th>
                                <th>Edit</th>
                                <th>Delete</th>
                                </tr>
                            </thead>
                            <% @cafes_food.each do |cf| %>
                            <tbody>
                                <tr>
                                <td><%= cf.cafe.name %></td>
                                <td><%= cf.food.name %></td>
                                <td><%= cf.price %></td>
                                <td><%= button_to('Edit', edit_cafe_cafes_food_path(cf.cafe, cf), :method=>"get") %></td>
                                <td><%= button_to('Delete', cafe_cafes_food_path(cf.cafe, cf), :method=>"delete") %></td>
                                </tr>
                            </tbody>
                            <% end %>
                        </table>
                      
                </div>
            </div>
        </div>
    </showcase> 
<!--   END OF SHOWCASE  -->

</body>
</html>
